* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  // font-family: 'Montserrat';
}

.cont {
  max-width: 900px;
  background: #433f3f;
  margin: 0 auto;
  padding: 70px;
}

.card {
  margin: 0 auto;
  width: 300px;
  height: 500px;
  border-radius: 30px;
  box-shadow: -10px 10px 25px black;

  &:hover {
    .foot {
      animation: foot 2s cubic-bezier(.5, 0, .5, 1) infinite alternate-reverse;
    }

    .foot__img-shadow {
      animation: shad 2s cubic-bezier(.5, 0, .5, 1) infinite alternate-reverse;
    }
  }
}

@keyframes foot {
  0% {
    transform: rotate(-45deg);
  }

  100% {
    transform: scale(1.2);
  }
}

@keyframes shad {
  0% {
    left: 52%;
    top: 22%;
  }

  100% {
    transform: rotate(45deg);
    left: 57%;
    top: 19%;
  }
}

.card__hdr {
  width: 100%;
  height: 50%;
  border-radius: 30px 30px 0 0;
  background: linear-gradient(to top left, #c53812, #e65a19);
  color: white;
  padding: 0 30px;
}

.hdr__info {
  p {
    font-size: 12px;
  }
}

.logo {
  width: 60px;
}

// .hdr__title {}

// .hdr__text {}

// .hdr__img {}

.foot {
  // opacity: 50%;
  width: 300px;
  position: absolute;
  bottom: 50%;
  left: 50%;
}

.foot__img-shadow {
  // border: 1px solid black;
  // width: 200px;
  // height: 100px;
  // position: absolute;
  // left: 50%;
  // border-radius: 0 0 128px 128px;
  // box-shadow: 0 100px 20px #00000020;
  /* margin: 200px auto; */
  width: 200px;
  height: 100px;
  border-radius: 0 0 100px 100px;
  box-shadow: 0 150px 40px #0000007a;
  position: absolute;
  top: 17%;
  left: 48%;
}

.fast {
  color: #b3412a;
  font-size: 119px;
  font-weight: 900;
  margin-left: -30px;
}


.card__ftr {
  width: 100%;
  height: 50%;
  padding: 30px;
  border-radius: 0 0 30px 30px;
  background: white;
}

.card__ftr-title {
  display: flex;
  align-items: center;

  .ftr__title {
    font-size: 15px;
    margin-right: 15px;
  }

  .ftr__new {
    font-size: 10px;
    padding: 5px;
    color: white;
    background: lime;
    border-radius: 5px;
  }
}

.fa-solid {
  color: darkorange;
}

.ftr__sizes {
  display: flex;
}

.ftr__size-num {
  background: whitesmoke;

  &:nth-child(4) {
    background: red;
    color: white;
  }

  padding: 5px 0;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 50%;

  &:not(:last-child) {
    margin-right: 20px;
  }

  transition: 500ms;

  &:not(:nth-child(4)):hover {
    background: silver;
    cursor: pointer;
    transition: 500ms;
  }
}

.ftr__colors {
  display: flex;

  div {
    border-radius: 50%;
    width: 25px;
    height: 25px;

    &:nth-child(1) {
      background: red;
      margin-right: 25px;
    }

    &:nth-child(2) {
      background: lime;
      margin-right: 25px;
    }

    &:nth-child(3) {
      background: yellow;
    }
  }
}

.ftr__price {
  color: white;
  background: lime;
  padding: 25px;
  border-radius: 32px;
  text-align: center;
  font-size: 32px;
  position: absolute;
  top: 63%;
  left: 51%;
}