* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

.cont {
  max-width: 900px;
  background: #433f3f;
  margin: 0 auto;
  padding: 70px;
}

.card {
  margin: 0 auto;
  width: 300px;
  height: 500px;
  border-radius: 30px;
  box-shadow: -10px 10px 25px black;
}
.card:hover .foot {
  animation: foot 2s cubic-bezier(0.5, 0, 0.5, 1) infinite alternate-reverse;
}
.card:hover .foot__img-shadow {
  animation: shad 2s cubic-bezier(0.5, 0, 0.5, 1) infinite alternate-reverse;
}

@-webkit-keyframes foot {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes foot {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: scale(1.2);
  }
}
@-webkit-keyframes shad {
  0% {
    left: 52%;
    top: 22%;
  }
  100% {
    transform: rotate(45deg);
    left: 57%;
    top: 19%;
  }
}
@keyframes shad {
  0% {
    left: 52%;
    top: 22%;
  }
  100% {
    transform: rotate(45deg);
    left: 57%;
    top: 19%;
  }
}
.card__hdr {
  width: 100%;
  height: 50%;
  border-radius: 30px 30px 0 0;
  background: linear-gradient(to top left, #c53812, #e65a19);
  color: white;
  padding: 0 30px;
}

.hdr__info p {
  font-size: 12px;
}

.logo {
  width: 60px;
}

.foot {
  width: 300px;
  position: absolute;
  bottom: 50%;
  left: 50%;
}

.foot__img-shadow {
  /* margin: 200px auto; */
  width: 200px;
  height: 100px;
  border-radius: 0 0 100px 100px;
  box-shadow: 0 150px 40px rgba(0, 0, 0, 0.4784313725);
  position: absolute;
  top: 17%;
  left: 48%;
}

.fast {
  color: #b3412a;
  font-size: 119px;
  font-weight: 900;
  margin-left: -30px;
}

.card__ftr {
  width: 100%;
  height: 50%;
  padding: 30px;
  border-radius: 0 0 30px 30px;
  background: white;
}

.card__ftr-title {
  display: flex;
  align-items: center;
}
.card__ftr-title .ftr__title {
  font-size: 15px;
  margin-right: 15px;
}
.card__ftr-title .ftr__new {
  font-size: 10px;
  padding: 5px;
  color: white;
  background: lime;
  border-radius: 5px;
}

.fa-solid {
  color: darkorange;
}

.ftr__sizes {
  display: flex;
}

.ftr__size-num {
  background: whitesmoke;
  padding: 5px 0;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 50%;
  transition: 500ms;
}
.ftr__size-num:nth-child(4) {
  background: red;
  color: white;
}
.ftr__size-num:not(:last-child) {
  margin-right: 20px;
}
.ftr__size-num:not(:nth-child(4)):hover {
  background: silver;
  cursor: pointer;
  transition: 500ms;
}

.ftr__colors {
  display: flex;
}
.ftr__colors div {
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
.ftr__colors div:nth-child(1) {
  background: red;
  margin-right: 25px;
}
.ftr__colors div:nth-child(2) {
  background: lime;
  margin-right: 25px;
}
.ftr__colors div:nth-child(3) {
  background: yellow;
}

.ftr__price {
  color: white;
  background: lime;
  padding: 25px;
  border-radius: 32px;
  text-align: center;
  font-size: 32px;
  position: absolute;
  top: 63%;
  left: 51%;
}/*# sourceMappingURL=hart.css.map */